.body {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #e1e1e1;
  margin: 0;
  padding: 0;
  position: fixed;
}

.navigation_bar {
  display: flex;
  color:white;
  background-color: white;
  border: 2px solid white;
  border-top-right-radius: 40px;
  margin-right: 20px;
  width: 220px;
  height: 750px;
  padding-right: 20px;
  padding-left: 0px;
}

.notification_bar {
  display: flex;
  color:white;
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
  height: 500px;
  width: 200px;
  margin-right: 20px;
  padding: 20px;
}

.information_bar {
  display: flex;
  color:white;
  float: right;
  align-items: center;
  gap: 20px;
  height: 30px;
  margin-left: auto;
  margin-right: 40px;
}

.search_bar {
  display: flex;
  color:white;
  border: 2px solid black;
  border-radius: 20px;
  height: 30px;
  width: 300px;
  padding-left: 10px;
  align-items: center;
  background-color: white;
}

.problem_set {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(25%-20px);
  color:white;
  margin: 20px;
  border: 0px;
  border-radius: 10%;
  box-sizing: border-box;
  text-align: center;
  width: 160px;
  height: 120px;
  gap: 5px;
  background-color: #eeeeee;
  box-shadow: 4px 4px 10px rgb(0,0,0,0.4);
}

.problem_set_bar {
  width: 800px;
  display: flex;
  flex-direction: column;
  color:white;
}

.link_bar {
  display: flex;
  color:white;
}

.avatar {
  display: flex;
  border-radius: 50%;
}

.link_button {
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
  gap: 15px;
  width: 130px;
  height: 40px;
  align-items: center;
}

.link_button:hover {
  background-color: #64CBE2;
}

li {
  margin-bottom: 5px;
}